.ItemsSearch
{
  display: flex;
  gap: 20px;
  justify-content: start;
  flex-wrap: wrap;

  width: 100%;

  margin-top: 20px;
  color: white;
}

.ItemsSearch__item
{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    padding: 5px 10px;
    border-radius: 5px;

    cursor: pointer;
}

.ItemsSearch__item:hover
{
    opacity: 0.8;
}

.ItemsSearch__item span
{
    margin: 0 5px;
}